services:

  database:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: database
    env_file:
      - ./../.env
    ports:
      - "5432:5432"
    volumes:
      - database-data:/var/lib/postgresql
    mem_limit: 512m
    cpus: '0.25'

volumes:
  database-data:
